# Discord Bot Configuration - Required
DISCORD_BOT_TOKEN=
DISCORD_BOT_PUBLIC_KEY=
DISCORD_BOT_CLIENT_ID=
DISCORD_BOT_OAUTH_SECRET=
ADMIN_USER_IDS=
## Default: https://discord.gg/ticketsbot
DISCORD_SUPPORT_SERVER_INVITE=

# URLs - Required
## Default: http://localhost:5000
DASHBOARD_URL=
## Default: http://localhost:8082
API_URL=
## Default: https://ticketsbot.cloud
LANDING_PAGE_URL=
## Default: https://vote.ticketsbot.cloud
VOTE_URL=
## Default: github.com/ticketsbot-cloud
POWERED_BY=
## Default: https://ticketsbot.cloud/assets/img/logo.png
ICON_URL=

# Database Configuration - Required
## Default: postgres:5432
DATABASE_HOST=
## Default: null
DATABASE_PASSWORD=
## Default: postgres-cache:5432
CACHE_DATABASE_HOST=
## Default: null
CACHE_DATABASE_PASSWORD=
## Default: postgres-archive:5432
ARCHIVE_DATABASE_HOST=
## Default: null
ARCHIVE_DATABASE_PASSWORD=

# Secrets - Required
## Default: null
JWT_SECRET=

# S3 Configuration - Required for transcripts
S3_ENDPOINT=
S3_ACCESS=
S3_SECRET=
# Should the S3 client use https? (true/false) (the default is "true", you can leave the variable empty)
S3_SECURE=

# S3 Archive Bucket - Required for transcripts & imports
## This is where ticket transcripts get put after being imported or a ticket gets closed
S3_ARCHIVE_BUCKET=

# S3 Import Bucket - Required for imports
## This is where the respective data goes before it's imported
## DATA_IMPORT_BUCKET is ur zipped+signed server data
S3_DATA_IMPORT_BUCKET=
## TRANSCRIPT_IMPORT_BUCKET is your zipped+signed server's transcripts
S3_TRANSCRIPT_IMPORT_BUCKET=

# Archiver Configuration - Required for transcripts
ARCHIVER_AES_KEY=
ARCHIVER_ADMIN_AUTH_TOKEN=
SENTRY_DSN=

# Optional settings

# Redis Configuration
## Default: redis
REDIS_HOST=
## Default: null
REDIS_PASSWORD=
## Default: 6379
REDIS_PORT=
## Default: redis:6379
REDIS_ADDR=

## Helpers - Limited admin controls
HELPER_USER_IDS=

# Autoclosedaemon Time (in minutes)
## Default: 10 minutes
SWEEP_TIME=

## Default: X-Forwarded-For
REAL_IP_HEADERS=
## Default: 127.0.0.1,172.21.0.1
TRUSTED_PROXIES=

# Branding - Optional - Emoji IDs
## Default: 1327350136170479638
EMOJI_ID=
## Default: 1327350149684400268
EMOJI_OPEN=
## Default: 1327350161206153227
EMOJI_OPENTIME=
## Default: 1327350171121614870
EMOJI_CLOSE=
## Default: 1327350182806949948
EMOJI_CLOSETIME=
## Default: 1327350192801972224
EMOJI_REASON=
## Default: 1327350205896458251
EMOJI_SUBJECT=
## Default: 1327350249450111068
EMOJI_TRANSCRIPT=
## Default: 1327350259965235233
EMOJI_CLAIM=
## Default: 1327350268974600263
EMOJI_PANEL=
## Default: 1327350278973952045
EMOJI_RATING=
## Default: 1327350290558746674
EMOJI_STAFF=
## Default: 1327350300717355079
EMOJI_THREAD=
## Default: 1327350311110574201
EMOJI_BULLETLINE=
## Default: 1327350319612690563
EMOJI_PATREON=
## Default: 1327350329381228544
EMOJI_DISCORD=

# Docker Images - ONLY CHANGE THESE IF YOU KNOW WHAT YOU'RE DOING
## Default: ghcr.io/statsd/statsd:v0.10.2
STATSD_IMAGE=
## Default: ghcr.io/rxdn/http-proxy:metrics
HTTP_PROXY_IMAGE=
## Default: ghcr.io/ticketsbot-cloud/worker:322e15986e7a6f6c63d2165025f2bcf6b9a802be
WORKER_IMAGE=
## Default: ghcr.io/ticketsbot/http-gateway:b0748cc2e964eb1fcb658565844a50a6182489cf
HTTP_GATEWAY_IMAGE=
## Default: ghcr.io/ticketsbot/main-sharder:a4bf4a98848094435d017d90c2cfc09a04146ef3
SHADER_IMAGE=
## Default: ghcr.io/ticketsbot/cache-sync-service:a4bf4a98848094435d017d90c2cfc09a04146ef3
CACHESYNC_IMAGE=
## Default: ghcr.io/ticketsbot-cloud/api:2441d52b1df85168d57e398fe2c90eec1a5c642b  
API_IMAGE=
## Default: ghcr.io/ticketsbot-cloud/logarchiver:7298e06b5dc5d21d3fb75633ffebd29638c1ed1d
LOGARCHIVER_IMAGE=
## Default: ghcr.io/ticketsbot/autoclosedaemon:68cb9a641e9536dd45378d9fe0a085902f99914c
AUTOCLOSEDAEMOON_IMAGE=
## Default: ghcr.io/ticketsbot/discord-chat-replica:e7a42bfeb763b08d859f8a17430f5a38eb5d69a9
DISCORD_CHAT_REPLICA_IMAGE=
## Default: ghcr.io/ticketsbot-cloud/import-sync:dc709612edbd83a5e3704eb609db0cd6a82c3402
IMPORT_SYNC_IMAGE=
## Default: https://github.com/TicketsBot-cloud/dashboard
DASHBOARD_GIT_URL=
## Default: master
DASHBOARD_GIT_BRANCH=
## Default: 2441d52b1df85168d57e398fe2c90eec1a5c642b
DASHBOARD_COMMIT_HASH=